html{
    background-image: url(../images/site/background.jpg);
    background-size: cover;
}

body{
    background-color: white;
    width: 95%;    
    margin: auto;
}

@media screen and (min-width: 800px) {

}



