html{
    background-image: url(../images/site/background.jpg);
    background-size: cover;
}

body{
    background-color: white;
    width: 95%;    
    margin: auto;
    font-family: 'Sansita', sans-serif;
}

h1{
    font-family: 'Sansita', sans-serif;
    padding: 0;
    margin: 0;
}

nav ul{
    background-color: #de2226;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 0px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    margin-right: 5px;  
}

nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

#acmeRocket{
    list-style: none;
    background-image: url("/final_acme/acme/images/site/feature.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap; 
    align-items: flex-start;
}

#acmeRocket ul li{
    list-style: none;
    color: #990033;
    padding-right: 10px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #80808085;
    width: 30%;
}

figure img{
    height: 100px;
}

figcaption{
    background-color: #FFFFFF;
    text-align: center;
}

#recipes{
    display: flex;
    flex-wrap: wrap;
}

#recipesHeader{
    padding-right: 300px;
}

#featureHeader{
    color: #990033;
}

footer {
    padding: 3px;
    border-top: 2px solid #000000;  
    text-align: center;
    margin-top: 10px;
}

@media screen and (min-width: 800px) {

}



