html{
    background-image: url(../images/site/background.jpg);
    background-size: cover;
}

body{
    background-color: white;
    width: 95%;    
    margin: auto;
    font-family: 'Sansita', sans-serif;
}

h1{
    font-family: 'Sansita', sans-serif;
    padding: 0;
    margin: 0;
}

h3{
    padding-left: 5px;
}

nav ul{
    background-color: #de2226;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 0px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    margin-right: 5px;  
}

nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

#logo{
    padding-left: 5px;
}

#acmeRocket{
    list-style: none;
    background-image: url("/final_acme/acme/images/site/feature.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap; 
    align-items: flex-start;
    height: 175px;
}

#acmeRocket ul{
    background: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding-left: 5px;
    font-size: 12px;
    height: 175px;
}

#acmeRocket img{
    width: 145px;
}

#acmeRocket ul li{
    list-style: none;
    color: #990033;
    padding-right: 10px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #80808085;
    width: 44%;
    margin: 10px;
}


figure img{
    height: 100px;
}

figcaption{
    background-color: #FFFFFF;
    text-align: center;
    width: 100%;
    height: 40px; 
}

#recipes{
    display: flex;
    flex-wrap: wrap;
}

#recipesHeader{
    padding-right: 225px;
}

#featureHeader{
    color: #990033;
    margin: 0;
}

footer {
    padding: 3px;
    border-top: 2px solid #000000;  
    text-align: center;
    margin-top: 10px;
}

@media screen and (min-width: 800px) {
    h2{
        font-size: 35px;
    }  

    h3{
        font-size: 27px;
        padding-top: 5px;
        margin: 0;
    }
    
    #acmeRocket{
        height: 375px;
    }

    #acmeRocket ul{
        height: 375px;
        background: none;
    }

    #acmeRocket ul li{
        font-size: 25px;
    }

    #acmeRocket img{
        width: 225px;
    }

    #reviewsRecipes{
        display: flex;
    }

    #reviews{
        order: 1;
        font-size: 22px;
        width: 50%;
    }

    #recipes{
        order: 0;
        width: 50%;
    }

    #recipesHeader{
        margin: 0;
        padding-right: 45px;
        padding-top:5px;
    }

    figure{
        width: 40%;
    }
}



