/* Mobile styles */
body {
    background-color: yellow;
}

.hide{
    display: none;
  }

/* Larger styles */
@media screen and (min-width: 800px){
    /* css for large screens goes here */
    body{
        background-color: black;
    }

    ul{
        /* make something a flex box */
        display: flex;
        list-style: none;
        flex-flow: row-reverse; /*reverses items in flex box*/
    }
}