/* This is the stylesheet for the Weather Site */

/*Table of contents:
    1. Imports
    2. General Rules
    3. Mobile First Rules
    4. Larger Screen Rules*/

/* Section 1 - Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');


/* Section 2 - General Rules */
header{
    background-color: #0e89d5;
    align-content: block;
}
html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Sansita', sans-serif;
}

body{
    font-size: 20px;
    font-family: Helvetica, Verdana, sans-serif, Arial;
}

.tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    align-items: center;
    text-align: center;
}

.hc{
    text-align: center; 
}
#hot{
    color: red;
}

#cold{
    color: blue;
}

#hourlyTable{
    display: block;
    width: 60px;
}

#logo{
    width: 150px;
}
/* Mobile first rules */

nav ul li{
    display: block;
    list-style: none;
}

nav{
    position: fixed;
    bottom: 0;
    left: 0;
}

footer{
    margin-bottom: 2em;
}

#site-brand{
    font-size: 2em;
    font-weight: 600;
}

 



