/* This is the stylesheet for the Weather Site */

/*Table of contents:
    1. Imports
    2. General Rules
    3. Mobile First Rules
    4. Larger Screen Rules*/

/* Section 1 - Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');


/* Section 2 - General Rules */
header{
    background-color: #0e89d5;
    align-items: center;
    width: 100%;
    padding: 3px;
    padding-bottom: 6px;
}

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Sansita', sans-serif;
}

h1{
    position: relative; 
}

h2{
    margin: 5px;
}

#locInfo{
    margin: 5px;
    font-size: 11px;
}

#pointer{
    transform: rotate(180deg);
}

#curWeather{
    background-image: url(/wsp_hw/weather/images/rain.jpg);
    background-size: 1750px;
}

body{
    font-size: 20px;
    font-family: Helvetica, Verdana, sans-serif, Arial;
}

.tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    align-items: center;
    text-align: center;
}

ul{
    list-style: none;
    display: inline;
    bottom: 0;
    padding-left: 0;
}

#hourly ul{
    overflow: auto;
    overflow: scroll;
    margin-top: 0px;
    white-space: nowrap;
    padding-left: 5 px;
}

#hourly ul li{
    display: inline-block;
    padding: 3px;
    text-decoration: none;
}

.hc{
    display: inline;
}

#hot{
    color: red;
}

#cold{
    color: blue;
}

#currentTemp{
    font-stretch: 2em;
}

#wind{
    text-align: center;
}

#windSpeed{
    position: absolute;
    font-size: 30px;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo{
    height: 90px;
    float: left;
    margin-right: 5px;
    padding-bottom: 5px;
}

#clear{
    width: 250px; 
}

footer{
    margin-bottom: 100px;
    background-color: #0e89d5;
    color: white;
}
/* Section 3: Mobile first rules */

nav{
    background-color: #0e89d5;
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

nav ul{
    padding: 15px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 5px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

#site-brand{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding-left: 50px;
}

/*Section 4: Larger Screen rules*/
 



